<head>
		<meta charset="utf-8"/>
		<title>Erase una Vez Html</title>
		<style type="text/css">
			body{
				background-color:#CCC;
				color: #333;
			}
				h1,h2 {
					font-family:Georgia;
			}
				h1{
					font-size:3em;
			}
				h2{
					font-size:2em;
			}
		</style>
	</head>