body{
        background-color: rosybrown;
}
h1{
        background-color:hwb(0 56% 6%);
        color: lab(97.73% 0.67 0.22);
        border: Solid;
        border-radius:20px;
        border-color: rgb(148, 225, 248);
        border-width:10px;
        border-style:groove;
        padding:20px;
        text-align: center;
        
}
body{
        background-color: hwb(22 71% 7%);
}
*{
    padding: 1px;
    margin: 1px;
}
#header{
        margin: auto;
        width: 1050px;
}
ul, ol {
        list-style: none;
}
.nav li a{
            background-color: hsl(0, 85%, 57%);
            color: #FFF;
            text-decoration: none;
            padding: 10px 10px;
            display: block;
}
.nav > li{
        float:left;
}
.nav li a:hover{
    background-color: #696666;
}                              
p, h2{
   font-size: 20px;
   color: hsl(0, 4%, 10%);
    text-align:justify
}

